

.parent {
    width: 100%;
    margin: auto;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 10px 10px rgb(74, 75, 76);
    overflow-y: hidden;
}
.file-upload, .camera, .addItem {
    padding-top: 0;
    padding-bottom: 2rem;
    position: relative;
    cursor: pointer;
    height: 5vh;
    text-align: center;
    justify-content: center;
}
.file-upload p, .camera p, .addItem {
    font-size:0.50rem;
    color: white;
    justify-content: center;
    vertical-align: middle;
}

.listHeader{
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin:auto;
    margin-top:2vh;
}

.presentlist{
    height:auto;
    min-height: 30vh;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
.listFooter{
    position: sticky;  
    width:95vw;
    height: auto;
    margin:auto;
    margin-top: -1vh;
    background-color:#482880;
    display:flex;
}

.listFooter Button, .capture Button{
    padding-top:1vh;
    height: auto;
    margin:auto;
    width: calc(95vw / 5);
    height:auto;
    background-color:#673ab7;
    color:white;
}

.listItems{
    width: 100%;
    height: auto;
    max-height: 90vh;
    overflow-y: scroll;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scanner {
    position: fixed;  
    width: 96vw;
    height: 30vh;
    overflow-y: scroll;
    margin:2vw;
    margin-top: 50vh;
  }

  

  
